body{
    background-color: currentcolor;
}
.header{
    margin: 50px;
    width: auto;
    padding: 0px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    gap: 10px;
}

.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 660;
    text-decoration: none;
    cursor: default;
}

.navbar a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight; 500;
    margin: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #0ef;
}
.home{
    margin: 250px;
}
.home h1, h3{
    color: #fff;
}

.social-media {
    position: absolute;
    left: 105px;
    margin: 150px 0px 0px 150px ;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media a {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2); /* Background with opacity */
    border-radius: 15%; /* Rounded corners */
    padding: 0px; /* Adjust padding as needed */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1); /* Box shadow */
    backdrop-filter: blur(20px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For older versions of Safari */
}

.social-media a img {
    max-width: 100%;
    max-height: 100%;
}

.gif{
    position: absolute;
    right: 90px;
    margin: -90px 70px 90px -25px;
}

section.about{
    color: #fff;
    margin: 150px 0px 0px 125px;
}

#submitButton{
    background-color: #316A74;
}