{% include "header.html" %}
<!-- Page Header-->

    <section class="home">
        <div class="home-content">
            <h1> ZINHAR ABDULLAH</h1>
            <h3> python developer</h3>

            <div class="social-media">
                <a href="#"><img width="50" height="50" src="{{url_for('static', filename='images/li.png')}}" class="img-fluid" alt="fb-new"></a>
                <a href="https://github.com/abdullah9975"><img width="50" height="50" src="{{url_for('static', filename='images/github.png')}}" class="img-fluid" alt="instagram-new"></a>
                <a href="https://twitter.com/home"><img width="50" height="50" src="{{url_for('static', filename='images/twitter.png')}}" class="img-fluid" alt="twitter-new"></a>
            </div>
            <div class="gif">
                <img height="250" width="250" src="{{url_for('static', filename='images/Zinhar.png')}}" class="img-fluid" alt="satellite">
            </div>
        </div>
    </section>

{% include "footer.html" %}
